<a href="https://colab.research.google.com/github/provbs/LOLai_machine_learning/blob/main/lol_data_getter_%EC%88%98%EC%A0%95%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# API 호출을 위해 requests 모듈을 사용
import requests

#pandas 랑 numpy 사용
import numpy as np
import pandas as pd

#json 사용
import json

#시간지연을 위해 time 사용
import time

# API 에서 공통적으로 사용하는 텍스트를 선언
apiDefault = {
    'region': 'https://kr.api.riotgames.com',  # 한국서버를 대상으로 호출
    'key': 'RGAPI-82c663f0-518b-43b3-b97e-35cd5ed4c6a7',  # API KEY - riot developers portal 에서 가져오기.
    'summonerName': '만판다이야',  # 내 닉네임으로 기본적인 틀 잡음.
}

#################################### 중요!!!!  api 호출시 사용되는 url #########################################
# url = F"{apiDefault['region']}요기에 코드 내용을 적으시요.?api_key={apiDefault['key']}"#
##############################################################################################################

In [ ]:
## 수정본

###################################### 머신러닝 필요 데이터 전처리 ###########################################
############################# 0. 티어별 1000개의 아이디 모아서 dataframe으로 모으기 ###########################

def getUserData(url, tier, tier_num = "", Is_Challenger_Master = False):
    # get method 를 통해 api 호출
    req = requests.get(url)
    #print(req.text)

    #유저들을 모은 "entries" 만 넣기. (앞에 TIER, LEAGUEID, QUEUE, NAME은 제외. 챌린저에서는 단하나의 리그만 존재)
    Users_List = json.loads(req.text)
    
    if Is_Challenger_Master:
        Users_List_entries = pd.DataFrame(Users_List["entries"])

        tier_list = Users_List["tier"]

        Users_List_tiers =[]
        for i in range(len(Users_List_entries)):
            Users_List_tiers.append(tier_list)
        Users_List_tiers = pd.DataFrame(Users_List_tiers, columns=['tier'])
        #display(Users_List_tiers)

        Users_List = pd.concat([Users_List_entries,Users_List_tiers],axis=1)

    #유저들 리스트 dataframe으로 넣고 정렬
    Users_List_DF = pd.DataFrame(Users_List).sort_values(by='leaguePoints' ,ascending=False).reset_index()
    #display(Users_List_DF)
    
    print(F"{tier} {tier_num} finished...!\n")
    return Users_List_DF

In [ ]:
################################# 1. 티어별 매치리스트 모으기 ################################################
############################### 모든 티어의 매치들을 구한후 겹치는 매치는 제거한다 #############################

def getMatchData(Total_Users_List_DF, tier, tier_num = 'I', division_by = 1):
    Users_List_DF = Total_Users_List_DF[(Total_Users_List_DF['tier'] == tier) & (Total_Users_List_DF['rank'] == tier_num)]
    #유저 리스트 데이터 프레임에서 summonerName만 추출해서 dataframe형식으로 저장한다.
    Users_List_DF_summonerName = pd.DataFrame(Users_List_DF['summonerName'])
    display(Users_List_DF_summonerName)

    #초기화
    Users_Puuids = []
    Users_MatchID = []

    #for문을 통해 puuids리스트를 얻기.
    user_count = int(len(Users_List_DF_summonerName)/division_by)
    for i in range(1):
        while True:
            try:
                url = F"{apiDefault['region']}/lol/summoner/v4/summoners/by-name/{Users_List_DF_summonerName.loc[i].to_numpy()[0]}?api_key={apiDefault['key']}"
                # get method 를 통해 api 호출
                req = requests.get(url)
                Users_Puuids_temp = json.loads(req.text)
                print("User Number: ", i, "/", user_count, "\n")
                Users_Puuids.append(Users_Puuids_temp['puuid'])
                break
            except KeyError:
                print("Summonor not found, ignore and skip to next summoner...")
                break
        time.sleep(1)

    print("finished...\n")
    #display(Users_Puuids)

    #for문을 통해 match id 리스트를 얻기
    for n in range(len(Users_Puuids)):
        #유저들의 puuid를 통해 match id를 모은다.
        url = F"{'https://asia.api.riotgames.com'}/lol/match/v5/matches/by-puuid/{Users_Puuids[n]}/ids?type=ranked&api_key={apiDefault['key']}"

        # get method 를 통해 api 호출
        print("Get Match id - User Number: ", n, "/",len(Users_Puuids), "\n")
        req = requests.get(url)
        Users_MatchID_temp = json.loads(req.text)
        Users_MatchID.append(Users_MatchID_temp)
        #print(Users_MatchID_temp)
        time.sleep(1.1)

    #display(Users_MatchID)
    print("finished...!\n")
    return Users_Puuids, Users_MatchID

In [ ]:

Full_Tier = ["CHALLENGER","GRANDMASTER","MASTER", "DIAMOND", "PLATINUM", "GOLD", "SILVER", "BRONZE", "IRON"]
Challenger_Master = ["challengerleagues", "grandmasterleagues", "masterleagues"]
Diamond_Iron = ["DIAMOND", "PLATINUM", "GOLD", "SILVER", "BRONZE", "IRON"]
Diamond_Iron_tIers = ["I", "II","III", "IV"]


##### getUserData #####
full_User_Data = pd.DataFrame()
#[CHALLENGER ~ MASTER]
for tier in Challenger_Master:
    url = F"{apiDefault['region']}/lol/league/v4/{tier}/by-queue/{'RANKED_SOLO_5x5'}?api_key={apiDefault['key']}"
    full_User_Data = full_User_Data.append(getUserData(url, tier, Is_Challenger_Master = True))

#[DIAMOND ~ IRON]
for tier in Diamond_Iron:
    for tier_num in Diamond_Iron_tIers:
        url = F"{apiDefault['region']}/lol/league/v4/entries/{'RANKED_SOLO_5x5'}/{tier}/{tier_num}?page=1&api_key={apiDefault['key']}"
        full_User_Data = full_User_Data.append(getUserData(url, tier, tier_num, Is_Challenger_Master = False ))

full_User_Data.to_csv("full_User_Data.csv", mode='w', encoding="utf-8-sig")
print("CSV file saved...!")
##### getUserData #####

##### getMatchData #####
full_Match_ID = pd.DataFrame()
division_by = 1
for tier in Full_Tier:
    if tier not in Diamond_Iron:
        if tier in "GRANDMASTER":
            division_by = 5
        Users_Puuids, Users_MatchID = getMatchData(full_User_Data, tier, tier_num = 'I',division_by=division_by)
        Users_MatchID_save = sum(Users_MatchID, [])
        Users_MatchID_save = pd.DataFrame(Users_MatchID_save, columns=['MatchID'])
        #display(League_Users_MatchID_save)
        full_Match_ID = full_Match_ID.append(Users_MatchID_save)
        Users_MatchID_save.to_csv(f"{tier}_League_Users_MatchID.csv", mode='w', encoding="utf-8-sig")
        print(f"{tier} DONE...")

    else:
        division_by = 2
        for tier_num in Diamond_Iron_tIers:
            Users_Puuids, Users_MatchID = getMatchData(full_User_Data, tier, tier_num, division_by)
            Users_MatchID_save = sum(Users_MatchID, []) #복사본 만들기
            Users_MatchID_save = pd.DataFrame(Users_MatchID_save, columns=['MatchID'])
            #display(League_Users_MatchID_save)
            full_Match_ID = full_Match_ID.append(Users_MatchID_save)
            Users_MatchID_save.to_csv(f"{tier}_{tier_num}_League_Users_MatchID.csv", mode='w', encoding="utf-8-sig")
            print(f"{tier} {tier_num} DONE...")

print("Originally : ",len(full_Match_ID), " matches.\n")

full_Match_ID_No_Duplicate = full_Match_ID.drop_duplicates(['MatchID'])

print("After Removing duplicates : ",len(full_Match_ID_No_Duplicate), " matches.\n")
##### getMatchData #####

full_Match_ID_No_Duplicate_divided = np.array_split(full_Match_ID_No_Duplicate, 4)
for index, match_chunk in enumerate(full_Match_ID_No_Duplicate_divided):
    chunk.to_csv(f"Merge_Match_part_{index}_no_duplicates.csv", mode='w')
    print("Divided match files saved as csv..! Match Numbers: ", len(match_chunk))

         summonerName
0           이 차가 식기전에
1             fragiIe
2             디알엑스 태윤
3    Porte de I Enfer
4             칼과 창 방패
..                ...
204         IRIDESCNT
205            펭귄빙산추락
206            ynnkaa
207          99도의 사나이
208             아이러니2

[209 rows x 1 columns]

User Number:  0 / 209

finished...

Get Match id - User Number:  0 / 1

finished...!

CHALLENGER DONE...

      summonerName
0    SwordArt77777
1      sanspareil2
2        Kishimiyu
3         xiangcai
4              땀비몬
..             ...
566            노런색
567        마법공학 상자
568           어쩔카정
569   super secret
570       우리라인은게복치

[571 rows x 1 columns]

User Number:  0 / 114

finished...

Get Match id - User Number:  0 / 1

finished...!

GRANDMASTER DONE...

     summonerName
0             이품진
1     Luckyy game
2             zyf
3            FATE
4             흠 산
...           ...
1675         불곰국가
1676         속도제어
1677   수유 Madlife
1678      정신나갈거같애
1679         희태시기

[1680 rows x 1 columns]

User Number:  0 / 336

finished...

Get Match id - User Number:  0 / 1

finished...!

MASTER DONE...

        summonerName
0                종셔틀
1             제주 다딱이
2                재설화
3            녕이는 못말려
4    피카츄가귤까먹는데안까지자한말
..               ...
200         임대웅이누구에요
201          동천파 김병준
202    time cogwheel
203             탱글원석
204    damn suporter

[205 rows x 1 columns]

User Number:  0 / 102

finished...

Get Match id - User Number:  0 / 1

finished...!

DIAMOND I DONE...

    summonerName
0            채린별
1        오노데라 레이
2            평발이
3           함춘삼0
4       리트리버웰시코기
..           ...
200       안기부존버원
201   이 차가 식7I전에
202         아케니아
203     돌잡이 코인잡음
204          에 디

[205 rows x 1 columns]

User Number:  0 / 102

finished...

Get Match id - User Number:  0 / 1

finished...!

DIAMOND II DONE...

    summonerName
0            눈감앗
1     AND I RISE
2            서재용
3         MYujin
4       이별 10분 전
..           ...
200         루루원딜
201        잠자기싫다
202     슬슬이기고싶은데
203       Barr1e
204       간짜장간짬뽕

[205 rows x 1 columns]

User Number:  0 / 102

finished...

Get Match id - User Number:  0 / 1

finished...!

DIAMOND III DONE...

    summonerName
0        2006 정글
1        승우아니고승후
2            유예비
3           GH차이
4           봉담쭈니
..           ...
200      IGOLNIK
201      창튜브 구독좀
202      세젤귀하이요이
203     몸에좋고맛좋은뱀
204     xoxoxixi

[205 rows x 1 columns]

User Number:  0 / 102

finished...

Get Match id - User Number:  0 / 1

finished...!

DIAMOND IV DONE...

       summonerName
0              지완두콩
1          누가망고먹다망고
2               엠 돌
3          우리팀은호랑말코
4             sad99
..              ...
200         박주은 내노예
201  Super Agresive
202             겜말장
203       Gen G 라스칼
204        갱플랭크는야캐요

[205 rows x 1 columns]

User Number:  0 / 102

finished...

Get Match id - User Number:  0 / 1

finished...!

PLATINUM I DONE...

    summonerName
0     응 아잇 어 12번
1           스윗충환
2       맞기전에 때려요
3       우 쥬 메리 미
4           남원베어
..           ...
200   Artanis302
201        Freyr
202        Siape
203       상큼이유진이
204         Hwom

[205 rows x 1 columns]

User Number:  0 / 102

finished...

Get Match id - User Number:  0 / 1

finished...!

PLATINUM II DONE...

        summonerName
0       LOSELOSELOSE
1             우르릉 콰앙
2            ZESTMIN
3            민주는 다정혬
4              별난여름밤
..               ...
200             도수차빈
201  will forget you
202           팅커테이저건
203           곰보 강동호
204          수영장파티후이

[205 rows x 1 columns]

User Number:  0 / 102

finished...

Get Match id - User Number:  0 / 1

finished...!

PLATINUM III DONE...

    summonerName
0      누나 거긴 헤으응
1       애쉬야 딜이짜다
2            김재능
3        무릉도원이세용
4           쑤호천사
..           ...
200         소옹씨임
201     핵귀요미 상워니
202       인천 서현덕
203     gjdgsods
204      혜지암살별동대

[205 rows x 1 columns]

User Number:  0 / 102

finished...

Get Match id - User Number:  0 / 1

finished...!

PLATINUM IV DONE...

       summonerName
0          EreIKlng
1               마성훈
2           광주숟가락대표
3         Jungle1v1
4             멘탈은스님
..              ...
200  XiJinping Fans
201         서렌좀해주세요
202           펑 터졌어
203           히힛 발싸
204           I란치윤I

[205 rows x 1 columns]

User Number:  0 / 102

finished...

Get Match id - User Number:  0 / 1

finished...!

GOLD I DONE...

    summonerName
0       Wefelife
1        맨날 버스탈래
2        너자신을믿지마
3         양민 청소기
4            건학이
..           ...
200         Hoop
201       노머니노광주
202     속터지기일보직전
203    원딜은 팀이 밉다
204          라애디

[205 rows x 1 columns]

User Number:  0 / 102

finished...

Get Match id - User Number:  0 / 1

finished...!

GOLD II DONE...

      summonerName
0         원광의대미남전형
1        24 Spring
2            so eg
3         일어나라롤해야지
4           시바견집사1
..             ...
200       동생줘도킬은못줘
201  lliliilllilil
202           포탑푸시
203            l용I
204           김피지컬

[205 rows x 1 columns]

User Number:  0 / 102

finished...

Get Match id - User Number:  0 / 1

finished...!

GOLD III DONE...

       summonerName
0         sup160296
1         커다란 구름 속에
2           미드잘하고십다
3           고독한 롤유저
4             탑좀조용히
..              ...
200             기정잉
201           Akino
202          리신개빡고수
203         기다려 가줄께
204  IcemonsterNUNU

[205 rows x 1 columns]

User Number:  0 / 102

finished...

Get Match id - User Number:  0 / 1

finished...!

GOLD IV DONE...

    summonerName
0         따라갈게 진
1           메가로빈
2        건드리면물어용
3           부캐 곽
4         사냥의 요한
..           ...
200         애기선비
201      연대생 아이린
202      과학고전교1등
203       No셔틀6호
204      누가 막을껀대

[205 rows x 1 columns]

User Number:  0 / 102

finished...

Get Match id - User Number:  0 / 1

finished...!

SILVER I DONE...

    summonerName
0         돌아온이박사
1       아직은날믿지마라
2        달재인 화이팅
3     ISAEMGIRLI
4          곰돌이팀장
..           ...
200     홍석이는 킹지자
201     그랩 첫번째부케
202          버스형
203          피난닭
204    Last Swan

[205 rows x 1 columns]

User Number:  0 / 102

finished...

Get Match id - User Number:  0 / 1

finished...!

SILVER II DONE...

    summonerName
0         하레와 쿠우
1           쉔존본능
2          도너츠황제
3       직박구리1242
4       sweet 캔디
..           ...
200      이현범의피지컬
201    빡치면 박는 사람
202  AD No chat
203   Psyco Jinx
204         살인마검

[205 rows x 1 columns]

User Number:  0 / 102

finished...

Get Match id - User Number:  0 / 1

finished...!

SILVER III DONE...

    summonerName
0       박스겟또야리따이
1            연패쫑
2            운자르
3         두개골빠갠다
4       너 혼자 유미랑
..           ...
200        너 억까야
201       즐겁게하는중
202          종혀뷔
203       조겨울개냄새
204   blues note

[205 rows x 1 columns]

User Number:  0 / 102

finished...

Get Match id - User Number:  0 / 1

finished...!

SILVER IV DONE...

         summonerName
0            Tsukuyo2
1              죽이는편이야
2                 잰바지
3            미니언건들지말기
4              멘붕할것같다
..                ...
200             파이어랑께
201  와타시의해피타임의반찬은바로너야
202            이렐다이애나
203          강지원할머니보쌈
204            레츠고브랜든

[205 rows x 1 columns]

User Number:  0 / 102

finished...

Get Match id - User Number:  0 / 1

finished...!

BRONZE I DONE...

    summonerName
0            공가네
1        딱딱한 소시지
2      뽀삐 장인 될거임
3        TALON77
4       도끼를든다리일뿐
..           ...
200          문만두
201        탱장인동호
202     낭만의 기모띠
203       후회하기보단
204     트위스테디페이커

[205 rows x 1 columns]

User Number:  0 / 102

finished...

Get Match id - User Number:  0 / 1

finished...!

BRONZE II DONE...

        summonerName
0             아이쿠아이쿠
1             옆집오빠존잘
2               금뜽왁왁
3                서후니
4       abilityspace
..               ...
200             꼬꼬노5
201             부토론토
202           Emivia
203           귀살대2재명
204  LGT Hankuk Love

[205 rows x 1 columns]

User Number:  0 / 102

finished...

Get Match id - User Number:  0 / 1

finished...!

BRONZE III DONE...

     summonerName
0       alwaysgyg
1    singapore451
2       E평Q평우리집3평
3        우주대존잘황동빈
4            찬쿠시보
..            ...
200        아구에로이스
201      seung085
202        집게리아맞쬬
203      신발갱을지금봤네
204        섹시 끝판왕

[205 rows x 1 columns]

User Number:  0 / 102

finished...

Get Match id - User Number:  0 / 1

finished...!

BRONZE IV DONE...

       summonerName
0           망나니인권보호
1               완우열
2         ImmerNoch
3              다크리치
4             DEVAK
..              ...
200         속삭이는 똥범
201             샹샹우
202  silver crown22
203       게임하는사람111
204      damiiiiiii

[205 rows x 1 columns]

User Number:  0 / 102

finished...

Get Match id - User Number:  0 / 1

finished...!

IRON I DONE...

        summonerName
0              부캐양학임
1         chunminseo
2             피파노잼게임
3            깨끗한 반바지
4                꿍디츄
..               ...
200    koreabibimbap
201            민초먹고싶
202         칼리스타 원챔프
203  supporter ilner
204           김도균 재왕

[205 rows x 1 columns]

User Number:  0 / 102

finished...

Get Match id - User Number:  0 / 1

finished...!

IRON II DONE...

         summonerName
0             민호야너나잘해
1             dong112
2              풍호동골동품
3             좀만한 동식이
4    lilfdfhfgfmbnfdf
..                ...
200          yongkyun
201            뭐라하면노갱
202          롤에서 슈팅게임
203          튼튼한기둥맛볼래
204        LOL리LOL리팝팝

[205 rows x 1 columns]

User Number:  0 / 102

finished...

Get Match id - User Number:  0 / 1

finished...!

IRON III DONE...

    summonerName
0          공주님유하
1          그러고산다
2     hyunw love
3       사미라 초보 봇
4       목포불주먹상워니
..           ...
200         바투자키
201    우리 강아지 여름
202       심해탐방열차
203       서울시자취남
204      화난거아닙니다

[205 rows x 1 columns]

User Number:  0 / 102

finished...

Get Match id - User Number:  0 / 1

finished...!

IRON IV DONE...
Originally :  534  matches.

After Removing duplicates :  534  matches.

In [ ]:
##################################### 2.          매치 세부정보 더하기 ##########################################
################### 1.에서 구한 매치리스트를 토대로 랭킹이 포함된 매치리스트를 더해서 큰 dataframe을 얻는다. #########

#for 문을 통해 실제 매치 정보 모으기
## 1/4 씩 나눠서 계산하기.
def get_match_info(match_chunk):
    League_Match_Info_chunk = pd.DataFrame()
    while True:
        try:
            match_chunk = match_chunk.reset_index()
            break
        except:
            print("index already reset...")
            break

    match_chunk_len = int(len(match_chunk)/30)
    for i in range(match_chunk_len):
        try:
            print("Match Number: ", i, "/",match_chunk_len, "\n")
            print("Working on this match...\n")
            url = F"{'https://asia.api.riotgames.com'}/lol/match/v5/matches/{match_chunk['MatchID'].loc[i]}?api_key={apiDefault['key']}"
            time.sleep(1)
            # get method 를 통해 api 호출
            req = requests.get(url)
            #print(req.text)

            #해당 매치 세부정보 중 PARTICIPANTS만 모은다.
            League_Match_Info = json.loads(req.text)
            League_Match_Info = League_Match_Info["info"]["participants"]

            #해당 매치 세부정보를 데이터프레임으로 넣어서 보기.
            League_Match_Info_DF = pd.DataFrame(League_Match_Info)
            League_Match_Info_chunk = League_Match_Info_chunk.append(League_Match_Info_DF)
        except Exception as e:
            print("error: ", e)
            print("Match not recorded.", e)
    return League_Match_Info_chunk

for index, match_chunk in enumerate(full_Match_ID_No_Duplicate_quartered):
    #한 iteration이 길어서 key가 만료되므로, 우선 if(index == ?)로 제어 (key 유효기간이 길어지면 삭제)
    if (index==0):
        League_Match_Info_chunk = pd.DataFrame(get_match_info(match_chunk))
        try:
            League_Match_Info_chunk = League_Match_Info_chunk.reset_index()
        except:
            print("index already reset...")
        League_Match_Info_chunk = League_Match_Info_chunk.drop("index", axis=1)
        League_Match_Info_chunk.to_csv(f'FINAL_match_to_rank_p{index}_unprocessed.csv', mode='w', encoding="utf-8-sig")
        print(f"League_Match_Info_chunk_{index} finished...")
# display(League_Match_Info_chunk)

Match Number:  0 / 4

Working on this match...

Match Number:  1 / 4

Working on this match...

Match Number:  2 / 4

Working on this match...

Match Number:  3 / 4

Working on this match...

League_Match_Info_chunk_0 finished...